*.suo
*.user
*.userosscache
*.sln.docstates


bin/
obj/
out/
.vscode/
.vs/

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pdb
*.idb
*.log
*.tmp
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.dll
*.exe
*.lib
*.exp
*.winmd
*.resources
*.pri
*.appx
*.pkgdef
*.wspd
*.vshost.*
Thumbs.db
*.DS_Store

*.vcxproj.user
*.filters
*.props
*.targets
*.config

packages/*
!packages/repositories.config

**/_nuget
**/.nuget/packages

node_modules/
yarn-error.log
package-lock.json
yarn.lock

*.doc*
*.pdf
*.mdoc
*.chm
*.helptext

*~